<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Midterm Survey Form</title>

    <style>
        .err {
            color: darkred;
        }
    </style>
</head>
<body>
<h1>Midterm Survey</h1>
<form method="post" action="#">
    <label>Name
        <input type="text" name="name" value="{{ @name }}">
    </label>
    <check if="{{ @errors['name'] }}">
        <span class="err">{{ @errors['name'] }}</span>
    </check>

    <p>Check all that apply:<br>
        <br>
        <check if="{{ @errors['midterm'] }}">
            <span class="err">{{ @errors['midterm'] }}</span>
        </check><br>
        <repeat group="{{ @midterm }}" value="{{ @midtermOption }}">
            <label><input type="checkbox" name="midterm[]" value="{{ @midtermOption }}"
                <check if="{{ !empty(@midterm) && in_array(@midtermOption, @midterm) }}">

                </check>
                >{{ @midtermOption }}</label><br>
        </repeat>
    </p>

    <input type="submit" value="Submit">
</form>

</body>
</html>