<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Midterm Survey Form</title>
</head>
<body>
<h1>Midterm Survey</h1>
<form method="post" action="">
    <label>Name
        <input type="text" name="name" value="{{ @name }}">
    </label>

    <p>Check all that apply:<br>
        <br>
        <repeat group="{{ @midterm }}" value="{{ @midtermOption }}">
            <label><input type="checkbox" name="midterm[]" value="{{ @midtermOption }}"
                <check if="{{ !empty(@midterm) && in_array(@midtermOption, @midterm) }}">

                </check>
                >{{ @midtermOption }}</label><br>
        </repeat>
    </p>

    <input type="submit" value="Submit">
</form>

</body>
</html>